@model ProjetoSaude360.Models.Consulta

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Consulta</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NomeMedico)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NomeMedico)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MotivoConsulta)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MotivoConsulta)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataConsulta)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataConsulta)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Recomendacoes)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Recomendacoes)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
